/*
 * Visual Studio 2015 dark style
 * Author: Nicolas LLOBERA <nllobera@gmail.com>
 */
.highlight {
  margin: 0px;
  display: block;
  overflow-x: auto;
  padding: 15px 20px;
  font-size: 20px;
  font-family: "Source Code Pro", Consolas, Monaco, Menlo, Consolas, monospace;
  line-height: 22.400000000000002px;
}
.highlight table {
  margin: 0;
  width: auto;
}
.highlight table td {
  border: none;
}
.highlight table td.code {
  padding-right: 20px;
}
.highlight .gutter pre {
  color: #666;
  text-align: right;
  padding-right: 20px;
}
.article-entry .highlight {
  margin: 1.6em 0;
}
.article-entry .highlight .line {
  height: 1.6em;
}
.highlight {
  color: #ddd;
}
.highlight .code .tag,
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .strong,
.highlight .code .name {
  color: #f92672;
}
.highlight .code .code {
  color: #66d9ef;
}
.highlight .code .class .title {
  color: #fff;
}
.highlight .code .attribute,
.highlight .code .symbol,
.highlight .code .regexp,
.highlight .code .link {
  color: #bf79db;
}
.highlight .code .string,
.highlight .code .bullet,
.highlight .code .subst,
.highlight .code .title,
.highlight .code .section,
.highlight .code .emphasis,
.highlight .code .type,
.highlight .code .built_in,
.highlight .code .builtin-name,
.highlight .code .selector-attr,
.highlight .code .selector-pseudo,
.highlight .code .addition,
.highlight .code .variable,
.highlight .code .template-tag,
.highlight .code .template-variable {
  color: #d7ba7d;
}
.highlight .code .comment,
.highlight .code .quote,
.highlight .code .deletion,
.highlight .code .meta {
  color: #75715e;
}
.highlight .code .keyword,
.highlight .code .selector-tag,
.highlight .code .literal,
.highlight .code .doctag,
.highlight .code .title,
.highlight .code .section,
.highlight .code .type,
.highlight .code .selector-id {
  font-weight: bold;
}

.highlight{
  border: 3px solid blue;
  border-radius: 8px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822;
  color: #DCDCDC;
}

.hljs-keyword,
.hljs-literal,
.hljs-symbol,
.hljs-name {
  color: #569CD6;
}
.hljs-link {
  color: #569CD6;
  text-decoration: underline;
}

.hljs-built_in,
.hljs-type {
  color: #4EC9B0;
}

.hljs-number,
.hljs-class {
  color: #B8D7A3;
}

.hljs-string,
.hljs-meta-string {
  color: #D69D85;
}

.hljs-regexp,
.hljs-template-tag {
  color: #9A5334;
}

.hljs-subst,
.hljs-function,
.hljs-title,
.hljs-params,
.hljs-formula {
  color: #DCDCDC;
}

.hljs-comment,
.hljs-quote {
  color: #57A64A;
  font-style: italic;
}

.hljs-doctag {
  color: #608B4E;
}

.hljs-meta,
.hljs-meta-keyword,
.hljs-tag {
  color: #9B9B9B;
}

.hljs-variable,
.hljs-template-variable {
  color: #BD63C5;
}

.hljs-attr,
.hljs-attribute,
.hljs-builtin-name {
  color: #9CDCFE;
}

.hljs-section {
  color: gold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

/*.hljs-code {
  font-family:'Monospace';
}*/

.hljs-bullet,
.hljs-selector-tag,
.hljs-selector-id,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #D7BA7D;
}

.hljs-addition {
  background-color: #144212;
  display: inline-block;
  width: 100%;
}

.hljs-deletion {
  background-color: #600;
  display: inline-block;
  width: 100%;
}
